<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.todo.mapper.TodoMapper">

    <!-- 목록 -->
    <select id="list" resultType="Todo">
        SELECT *
        FROM todo
    </select>

    <!-- 조회 -->
    <select id="select" resultType="Todo">
        SELECT *
        FROM todo
        WHERE no = #{no}
    </select>

    <!-- 등록 -->
    <insert id="insert">
        INSERT INTO todo ( name, status )
        VALUES ( #{name}, #{status} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE todo
           SET name = #{name}
              ,status = #{status}
              ,upd_date = now()
        WHERE no = #{no}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM todo
        WHERE no = #{no}
    </delete>

</mapper>